body{
    background: url("../image/reg.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
}
.block{
    position:relative;
    margin: 140px auto;
    width: 400px;
    height:420px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}
.login-title{
    margin: 10px 0 20px;
    font-size: 2em;
    color: #4169E1;
    font-weight: bold;
}
td{
    color: #000000;
}
td input{
    padding-left: 10px;
    border: #4169E1 solid 0.5mm;
    background: #FFFFFF;
}
.signup {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid  #cccbcb;
    border-radius: 7px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: #0dbfdd;
    cursor: pointer;
}